
/* navbar css */
#navbar {
    background-color: rgb(243, 243, 243);
    width:100%;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-around;
    align-items: center;
}
#navbar img {
    width:100px;
    
}
span{
    color: rgb(209, 75, 97);
}
a {
        text-decoration: none;
    color:rgb(82, 82, 82);
    font-size:20px;
}
/* Navbar II here */
#navbar_II{
    width:90%;
    margin:auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  
  form.search input[type=text] {
   
    font-size: 17px;
    border: 0px;
    border-bottom: 1px solid gray;
    float: left;
    width:80%;
    background:none;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    background:none;
    padding-left:0px;
    color: rgb(209, 75, 97);
    font-size: 17px;
    border: 0px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  #user>a{
      border-left: 0.5px solid rgb(173, 170, 170);
      padding-left: 20px;
  }
  #navbar_III {
      width:90%;
      margin:auto;
      display: flex;
      justify-content: space-around;
      padding-bottom: -4px;
      border-bottom: .5px solid rgb(236, 227, 227);
      position:sticky;
      background-color: white;
      top:0px;
      margin-bottom: 100px;
  }
  #navbar_III>a{
      font-weight: bold;
    padding:0 10px 0 10px;
    color:black;
  }
  #navbar_III>a:hover {
      color:rgb(209, 75, 97);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    }

    #user{
        width:30%;
    }
    #user>a {
      color:rgb(209, 75, 97);
      margin-left: 30px;
      justify-content: space-evenly;
    }



/* box css */
body>p{
    font-size: 52px;
    text-align: center;
    font-weight: 100;
}
 #dibba{
    border: 0;
    width: 30%;
    height: 50px;
    padding: 10px;
    background: #000;
    font-weight: 600;
    color: #383838;
    display: block;
    margin: auto;
    margin-bottom: 30px;

    /* margin-bottom: 50px; */
}  

 #box{
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-around;
}
hr{
  width: 60%;
  margin-bottom: 50px;
}

#box>div>h1{
  font-size: 46px;
  font-weight: 100;
}

#box>div>p{
  padding-left: 0;
  cursor: pointer;
  font-size: .88889rem;
  color: #000;
}
#box>div>p:hover{
  color: #f39
}




/* footer css */
#offers{
    width: 100%;
    height: 150px;
    text-align: center;
    margin: auto;
    background-color: rgb(242, 242, 242);
    /* padding: 80px; */
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 50px;
    
}
#footer1{
    
    width: 70%;
    text-align: center;
    margin: auto;
}
#Inform{
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: black;
    font-size: large;
    font-weight:900;

}

#email{
    border: 20px solid white;
    width: 15%;

}
#sub{
    border: 20px  solid;
    background-color: white;
    color: black;
}

#social_media_container{
  width:30%;
  margin:auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}


#fine_print_container {
  width:40%;
  margin:auto;
  padding:30px 0px 20px;
  size:12px;
  display:flex;
  justify-content:space-evenly;
}
#footer_link_title_1,#footer_link_title_2,#footer_link_title_3,#footer_link_title_4,#footer_link_title_5{
  text-align: center;
  margin-top: 30PX;
  font-weight: bold;
  font-size: 16px;
  padding:0px px 5px 5px;
}
#footer_link_content_1,#footer_link_content_2,#footer_link_content_3,#footer_link_content_4,#footer_link_content_5{
  width:90%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  
}
#footer_link_content_1>a, #footer_link_content_2>a,#footer_link_content_3>a, #footer_link_content_4>a,#footer_link_content_5>a{
  padding:3px 10px 3px 10px;
  border-right:1px solid gray;
  font-size: 15px;
}

.fa-search{
  color: #f39;
}


/* Style the search field */


/* Clear floats */
